<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bulma</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <style>
        [v-cloak] {
            display: none;
        }
        .listing-item {
            cursor: pointer;
        }
        .favorite i {
            font-size: 26px;
            color: indianred;
        }
    </style>
</head>
<body>
    <div class="container content" id="app" v-cloak>
        <!-- -------- TEMPLATE DE L'APP ---------->
        <h1 class="title">Notre équipe</h1>

        <div class="columns">
            <!-- -------- COLONNE GAUCHE ---------->
            <div class="column is-one-quarter">
                <ul>
                    <li class="listing-item" :key="index" :data-key="index" v-for="(item, key) in team" @click="switchPerson(key)">{{ item.firstName }} {{ item.name }}</li>
                </ul>
            </div>
            
            <!-- -------- COLONNE DROITE ---------->
            <div class="column">
                <section class="section">
                    <card v-if="active" :oneperson="active" @switchheart="switchHeart"></card> 
                </section>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script>
        const { ref } = Vue

        //components


        const card = {
            name: "card",
            props: {
                oneperson: {
                    type: Object,
                    default: {}
                }
            },
            setup(props, context) {
                const switchHeart = () => {
                        context.emit('switchheart', props.oneperson.key)
                    }
                return {switchHeart}
            },
            //template du composant
            template : `
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img :src="oneperson.urlImg" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">{{ oneperson.name }} {{ oneperson.firstName }}</p>
                            <p class="subtitle is-6">{{ oneperson.email }}</p>
                        </div>
                    </div>
        
                    <div class="content">
                        {{ oneperson.description }}
                        <br>
                        <time datetime="2016-1-1">{{ oneperson.dateStart }}</time>
                    </div>
                    <div class="favorite">
                        <i class="fa-solid fa-heart" v-if="oneperson.favorite" @click="switchHeart"></i>
                        <i class="fa-regular fa-heart" v-else @click="switchHeart"></i>
                    </div>
                </div>
            </div>
            `,
        }

        const App = Vue.createApp({
                name: "team",
                setup() {
                    let team = ref([
                        // Personne 1
                        {
                            name:"John",
                            firstName:"Smith",
                            email:"j.smith@cepegra.be",
                            urlImg: "https://picsum.photos/id/236/200/300",
                            description:"Lorem ipsum John",
                            dateStart:"11:09 PM - 1 Jan 2016",
                            favorite: true
                        },
                        // Personne 2
                        { 
                            name:"Marcel",
                            firstName:"Proust",
                            email:"p.proust@cepegra.be",
                            urlImg: "https://picsum.photos/id/235/200/300",
                            description:"Lorem ipsum Marcel",
                            dateStart:"11:09 PM - 15 feb 2018",
                            favorite: false
                        }
                    ])
                    let active = ref(null)
                    const switchPerson = (key) => {
                        active.value = team.value[key]
                        active.value.key = key
                    }
                    const switchHeart = (key) => {
                        team.value[key].favorite = !team.value[key].favorite
                    }
                    return {team, active, switchPerson, switchHeart}
                },
                components: {
                    card
                }
            })
            const vm = App.mount("#app")
    </script>
</body>
</html>







